/* style.css part */

*{margin:0;padding:0; box-sizing:border-box;}
body, header, main, footer {overflow-x:hidden;}
.navbar-brand{height:84px !important; transition:all .3s ease-out;}
.navbar-brand img{height:100%;}
._grd_txt{
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
}

.preloader{
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:9876543210; 
	background-color: #2a2a72;
	background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
.hvc{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}
.preloader p{
	position:relative;
	width:100%;
	background: white;
	height:.1rem;
	animation:move 1.2s ease-in-out infinite; 
}
.preloader p{margin-top:7vh;}
	@keyframes move{
	0%{width:60%;}
	22%{width:10%;}
	50%{width:95%;}
	78%{width:10%;}
	100%{width:60%;}
}
@keyframes hid{
	0%{opacity:1;} 100%{opacity:0;}
}
.dropdown-menu{line-height:.5;}
@media only screen and (orientation: portrait) {
	.preloader img{width:100%;}
	.img{height:100vh;}
}
@media only screen and (orientation: landscape) {
	.preloader img{height:75%;}
	.img{width:100%;}


}
.preloader div{width:100vmin;}
.scrolled{background:white !important;
transition:all .3s ease-in-out;}
.navbar-brand img,.navbar-toggler{
background:rgba(255,255,255,.95) !important;}
#res{position:fixed;
top:100px;}
.zoom{height:54px !important;}
